$font: open sans;
$header-photo: "../images/bg-masthead.jpg";
$section-icon-1: "../images/monitor.svg";
$section-icon-2: "../images/tower.svg";
$section-icon-3: "../images/check.svg";


$pic01: "../images/bg-showcase-1.jpg";
$pic02: "../images/bg-showcase-2.jpg";
$pic03: "../images/bg-showcase-3.jpg";

$avatar-1: "../images/testimonials-1.jpg";
$avatar-2: "../images/testimonials-2.jpg";
$avatar-3: "../images/testimonials-3.jpg";

$icon-1: "../images/fb.svg";
$icon-2: "../images/tw.svg";
$icon-3: "../images/ig.svg";


$col-blue: #007bff;
$section-bg: #f8f9fa;
$article-bg: #ffffff;
$shadow-col: #00000030;